# Maven
/target/                 
*.log                   
!src/main/resources/    

# Configuração de IDEs
/.idea/                 
*.iml                   
.vscode/               
.classpath             
.project                
.settings/              

# Arquivos do sistema operacional
.DS_Store              
Thumbs.db               
desktop.ini             

# Arquivos sensíveis
.env                    

# Outros
*.tmp                  
*.bak                   
